<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CoolAdmin.Properties.Settings.Sql" connectionString="Data Source=DESKTOP-CPNIF6A\SQL;Initial Catalog=yeni;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>